.framework-logo {
  margin: 2rem auto;
  text-align: center;
}

.logo {
  /* height: 120px; */
  width: auto;
}

#graficoLattes,
#graficoTitulos {
  max-width: 350px;
  max-height: 350px;
}

a {
  text-decoration: none !important;
}

.subtitulos {
  color: black;
}

.subtitulos:hover {
  background-color: #fff;
}

.subtitulos:focus {
  background-color: #fff;
}
